.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  color: #2c3e50;
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 48px;
  color: #333;
  text-align: center;
  margin-bottom: 30px;
}



.photo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
}

.card-img-top {
  height: 200px;
  width: 100%;
  display: block;
  object-fit: cover;
}

.card-text {
  margin-bottom: 10px;
  font-size: 16px;
}

.text-muted {
  font-size: 12px;
}



.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  transition: all 0.3s ease;
}

.search-container:focus-within {
  border-color: #00c853;
  box-shadow: 0 0 8px 0 rgba(0, 200, 83, 0.5);
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1.2rem;
  margin-right: 10px;
}

.search-btn {
  background-color: #ffffff;
  border: none;
  color: #121111;
  font-size: 1.2rem;
  padding: 1px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.search-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 8px 0 rgb(255, 255, 255);
}
